name: Run Tests

on: [push]

jobs:
  build:
    name: Unit and Integration Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mongodb-version: ['5.0']
        python-version: ['3.10']
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        architecture: 'x64'
    - name: Black Check
      uses: jpetrucciani/black-check@master
      with:
        path: './src -t py310'
    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.7.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}
        mongodb-username: supercharge
        mongodb-password: secret
        mongodb-db: supercharge
    - name: Install Virtualenv and Poetry
      run: python -m pip install virtualenv poetry && python -m virtualenv /opt/venv
    - name: Disable Poetry Virtualenv
      run: python -m poetry config virtualenvs.create false
    - name: Install Deps
      run: python setup.py develop && python -m poetry install
      env:
        PATH: "/opt/venv/bin:$PATH"
    - name: Run tests
      run: python -m pytest --cov=src --cov-fail-under=90 -vv -c pytest-ci.ini tests/
      env:
        PATH: "/opt/venv/bin:$PATH"
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: tistaharahap/tradebro-api
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        cache: ${{ github.event_name != 'schedule' }}
        dockerfile: docker/Dockerfile